<% provide(:title, "About") %>
<body class = "about-body">
  <div class="card border-0 shadow my-5 container-padding">
    <div class="text-surround">
      <h1>About Us</h1>
      <hr>
      <div class = "main-text">
        We are a group of new developers who are looking to improve ourselves,<br> 
        and hopefully the life of others with our projects.<br> 
        This website is our major "Capstone Project" whose 
        function is to help match people looking for jobs <br>
        or employers find staff!
        <div class = "spacer"></div>
        <div class = "team-heading">Our Team consists of:</div>
        <ul class = "team-list">
          <li>Brandon-lee Love</li>
          <li>Mohammad Albaghli</li>
          <li>Kevin Huang</li>
        </ul>
      </div>
    </div>
  </div>
</body>