<!DOCTYPE html>
<html>
  <head>
    <title>Contact Us | QuikJob</title>
  </head>
  <body>
   <div class="center jumbotron">
    
    <h1>About Us</h1>
    <h2>
    we are a group of new developers who are looking to improve the lives of
    many with an application that makes it easier for people to find jobs.
    Starting off as a passion project we hope to grow and expand our servies 
    for the betterment of society
    </h2>
</div>
  </body>
</html>