<!DOCTYPE html>
<html>
  <head>
    <title>Contact Us | QuikJob</title>
  </head>
  <body>
   <div class="center jumbotron">
    
    <h1>Contact US</h1>
    <h2>
    For more details contact us at: thisisnotanemail@gmail.com or 0328673445
    </h2>
</div>
  </body>
</html>