<% provide(:title, "Contact") %>
<body class = "contact-body">
  <div class="card border-0 shadow my-5 container-padding">
    <div class="text-surround">
      <h1>Contact</h1>
      <hr>
      <div class = "main-text">
        <div class = "spacer"></div>
        <div class = "team-heading">Contact us at the following emails:</div>
        <ul class = "team-list">
          <li>Brandon-lee Love - s3656231@student.rmit.edu.au </li>
          <li>Mohammad Albaghli - s3572300@student.rmit.edu.au</li>
          <li>Kevin Huang - s3556040@student.rmit.edu.au</li>
        </ul>
      </div>
    </div>
  </div>
</body>