<% provide(:title, "Home") %>
<html>
  <body>
  <div class="center jumbotron">
    
    <h1>Welcome to the QuikJob</h1>
    <h2>
     QuikJob, the best place to find employees or employment. Signup today and work freely "tomorrow"
    </h2>

    <%= link_to "Job Seeker Signup", 'jobseeker_signup', class: "btn btn-lg btn-primary" %>
  
    <%= link_to "Employer Signup", 'employer_signup', class: "btn btn-lg btn-primary" %>
  </div>
  </body>
</html>