<h1>Welcome to your profile page!</h1>
<h2>
  Employer: <%= @jobseeker.name %>
  <br>
  Email: <%= @jobseeker.email %>
</h2>
<div>
  <h3>Skills:</h3>
  <% @jobseeker.skills.each do |skill| %>
    <%= skill.name %>
    <br>
  <% end %>
</div>