<% provide(:title, "Employer Matches") %>
<h1>Your matching jobseekers</h1>
<h3>
    List of candidates for <%= @job.name %> (<%= @list_matches.count %>):
    <hr>
    <% @sorted.each do |key, value| %>
        Name: <%= link_to key.name, key %>
        <%= link_to "Send Offer!", job_offer_path(:user_id => key.id, :job_id => @job.id), class: "btn btn-lg btn-info", :method => :post %>
        <hr>
    <% end %>
</h3>