<% provide(:title, "Employer Matches") %>
<h1>Your matching jobseekers</h1>
<h3>
    List of candidates for <%= @job.name %> (<%= @list_matches.count %>):
    <hr>
    <% @sorted.each do |key, value| %>
        Name: <%= link_to key.name, key %>
        <hr>
    <% end %>
</h3>