<% provide(:title, "Jobseeker Matches") %>
<h1>Your matching jobs!</h1>
<h3>
    List of matching jobs (<%= @list_matches.count %>):
    
    <hr>
    <% @sorted.each do |key, value| %>
    <%= link_to key.name, key %> 
        <br>
        Posted by: <%= key.employer.name %>
        <hr>
    <% end %>
</h3>