.main-text-jobs {
  font-size: 22px;
  text-align: left;
}

.right-button {
  float: right;
}

.card-body-applicants {
  padding: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  height: 390px;
  overflow:hidden;
  color: black;
  background-color: #f7f7f7;
  border-color: #bfbfbf;
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem;
}

.outer-container-applicants {
  padding: 5px;
  height: 400px;
}
