/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-image : image-url("desk-business.jpg");
  background-size: cover;
}

/* Control the right side */
.right {
  right: 0;
  background-image : image-url("office-mac.jpg");
  background-size: cover;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.signup-btn-jobseeker {
  background-color: #3cc3c1;
  border: none;
  border-radius: 5rem;
}

.signup-btn-employer {
  background-color: #9966ff;
  border: none;
  border-radius: 5rem;
}

.signup-btn-jobseeker:hover {
  background-color: #2a8987;
}

.signup-btn-employer:hover {
  background-color: #7733ff;
}

hr {
  border: 1.5px solid #404040;
}

.signup-url {
  color: #0052cc;
}

.signup-url:hover {
  color: #4d94ff;
}

.surround-url {
  padding: 8px 20px;
  background-color: #f2f2f2;
  border-radius: 5rem;
  border-color: #bfbfbf;
  border-width: 1px;
  border-style: solid;
}

.bold{
  font-weight: bold;
}

.jobseeker-body {
  background: image-url("desk-business.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.employer-body {
  background: image-url("office-mac.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.text-surround {
  background-color: #f2f2f2;
  padding: 20px 20px;
  border-radius: 20px;
}

.main-text {
  font-size: 22px;
  text-align: center;
}

.italics {
  font-style: italic;
}

.container-padding {
  padding: 20px 0px;
}

.team-list {
  text-align: left;
}

.team-heading {
  text-align: left;
  font-weight: bold;
}

.about-body {
  background: image-url("about-us-background-blur.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.contact-body {
  background: image-url("notebook-background-blur.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.homepage-card {
  width: 47%;
  padding: 2% 1%;
  border-radius: 1rem;
  border-color: #337ab7;
  border-width: 2px;
  border-style: solid;
  margin: 40px 0px 40px 0px;
  background-color: #3884c7;
  color: white;
  height: 25%;
}

.homepage-card a{
  text-decoration: none;
  color: black;
}

.homepage-card a:hover{
  text-decoration: none;
  color: white;
}

.card-right {
  display: block;
  float: right;
}

.card-left {
  display: block;
  float: left;
}